<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <app-shared-input
    label="Email"
    type="email"
    [formControl]="emailControl"
    [invalid]="emailControl.invalid && emailControl.touched"
    errorMessage="Email invalide"
  ></app-shared-input>

  <app-shared-input
    label="Mot de passe"
    type="password"
    [formControl]="passwordControl"
    [invalid]="passwordControl.invalid && passwordControl.touched"
    errorMessage="Mot de passe requis"
  ></app-shared-input>

  <app-shared-button
    type="submit"
    [disabled]="loading"
    [loading]="loading"
     label="Se connecter">
  </app-shared-button>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
    <div class="forgot-password">
    <a [routerLink]="['/forgot-password']">Mot de passe oublié ?</a>
  </div>

</form>
